@foreach (var user in Model)
{
    var modalId = "deleteModal" + user.UserId;
    <tr>
        <td>
            <div class="d-flex align-items-center">
                <img src="@user.ProfilePhoto" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                <div class="ms-3">
                    <p class="text-secondary mb-1">@user.FirstName</p>
                </div>
            </div>
        </td>
        <td>
            <p class="fw-normal mb-1">@user.Email</p>
        </td>
        <td>
            <p class="fw-normal mb-1">@user.Phone</p>
        </td>
        <td>
            <p class="fw-normal mb-1">@user.RoleName</p>
        </td>
        <td>
            @if (@user.IsActive ?? false)
            {
                <span class="badge badge-success rounded-pill bg-success d-inline">Active</span>
            }
            else
            {
                <span class="badge badge-danger rounded-pill bg-danger d-inline">Inactive</span>
            }
        </td>
        <td>
            <a class="text-black" permission="UserEdit" asp-area="" asp-controller="User" asp-action="Edituser" asp-route-id="@user.UserId">
                <i class="fa-solid fa-marker"></i>
            </a>
            <i class="fa-regular fa-trash-can ms-4 deleteIcon" data-id="@user.UserId" data-status="@user.RoleName"
                data-deleteId="#@modalId"></i>
            <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                            <img class="img-fluid" src="~/assest/toppng.com-warning-icon-2400x2400.png" alt=""
                                style="width: 50px;">
                            <div class="fs-4">Are you sure you want to delete this user?</div>
                        </div>
                        <div class="modal-footer d-flex align-items-center justify-content-center">

                            <button type="submit" class="btn btn-primary deleteuser">Yes</button>

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}

<script>
    $(document).ready(function () {
        let userId = 0;
        $(".deleteIcon").click(function (e) {
            e.preventDefault();
            userId = $(this).data("id");
            var status = $(this).data("status");
            console.log(userId);
            console.log(status);
            if (status == "Super Admin") {
                toastr.warning("Super Admin Can't Deleted", "UnAuthorise");
            }
            else {
                $("#deleteUserModal").modal("show");
            }
        });
        $(".deleteuser").click(function () {
            console.log(userId);
            $.ajax({
                url: '/User/Delete',
                type: 'POST',
                data: { userId: userId },
                success: function (response) {
                    $("#deleteUserModal").modal("hide");
                    toastr.success('User Deleted Successfully!', "Success");
                },
                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText); // Log detailed error
                }
            });
        });

    });

</script>